body {
  margin: 0;
}


.navbar {
  width: 100%;
  height: 7vh;
  background-color: #c5c4c4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; 
}

.saveChanges{
  padding: 2px;
  width: 150px;  
  height: 40px;
  cursor: pointer;
  margin-right: 40px;  
  border-radius: 10px;
  font-weight: 600;
  border-color: rgb(100, 100, 205);
  color: rgb(100, 100, 205);
}
.cannotSaveChanges {
  padding: 2px;
  width: 150px; 
  height: 40px;
  cursor: pointer;
  margin-right: 500px;  
  border-radius: 15px;
  font-weight: 600;
  background-color:rgb(251,204,203);
  color: black;
border: none;
}

.dndflow {
  display: flex;
  height: 100vh;
}

.nodePanel{
  width: 300px;
  border-left: 1px solid #ddd;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ddd;
}
.label{
  display: flex;
  gap: 10px;
  color: #c5c4c4;
  margin-bottom: 20px;
}
.settingasPanel {
  width:95%;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: -10px;
  padding: 10px;
  background: #ffffff;
  border-right: 1px solid #ddd;
}

textarea{
  width: 100%;
  border:1px solid  #c5c4c4;
  border-radius: 5px;

}

.flowArea {
  flex-grow: 1;
  position: relative;
}



.textNode {
  width: 150px;
  height: 5.vh; 
  border: 0.5px solid #d4cfcf;
  background: white;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
}
.customMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
}
.textMessage{
  font-size: 10px;
}

.fixedCustom {
  border-radius: 5px 5px 0 0;
  width: 100%; 
  height: 1.9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  background-color: #b2f0e4;
}
.fixedCustom .message {
  margin: 0 0 0 30px; 
}

.fixedCustom div{
  margin: 2px 0 0 6px; 
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 180px;
  height: 80px;
  padding: 5px 0;
  border: 2px solid #1178f5;
  background: rgb(254, 254, 254);
  cursor: grab;
  border-radius: 10px;
}
.messageBlock{
  color: #1178f5;
}

.settingsPanel {
  display: flex;
  flex-direction: column;
}


